*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}


.big{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: #e0e8ff;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f8f9fe;
    border: none;
    width: 70%;
    height: 10%;
}
#ch{
    margin-left: 5cm;
    color: #efeeff;
}
#ap{
 margin-right: 4cm;
 margin-bottom: -20px;   
}
#pr{
    margin-right: 4cm;
    margin-top: -37px;
  
}

.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    border: 0px solid  ;
   width: 380px;
    border-radius: 18px;
    overflow: hidden;
   
}
h1{
    margin-top: 10px;
}

p{
    white-space: pre-line;
    line-height: 30px;
    margin-top: -25px;
}
span{
    text-align: center;
    line-height: 30px;
    margin-bottom: 28px;
}

#btn{
    background-color:#382ae1;
    font-size: 16px;
    color: white;
    padding: 10px 5px;
    margin-top: 8px;
    border-radius: 8px ;
    width: 75%;
   border: none;
    
}

#cn{
    background-color: #ffffff;
    font-size: 16px;
    padding: 10px 5px;
    border-radius: 8px ;
    width: 75%;
    border: none;
   margin-top: -20px;

}


/* media query */

@media (max-width:700px){
    .big{
        display: block;
    }
    .container{
        display: block;
    }
    .box{
        display: block;
    }
}